server {
         listen       {{ site_port }};
         server_name  {{ site_domain_name }};
         root         {{ site_root_path }};

         access_log /var/log/nginx/{{ site_domain_name }}-access.log;
         error_log  /var/log/nginx/{{ site_domain_name }}-error.log error;
         index index.html index.htm index.php;

         location / {
                      try_files $uri $uri/ /index.php$is_args$args;
         }

         location ~ \.php$ {
            fastcgi_split_path_info ^(.+\.php)(/.+)$;
            fastcgi_param HTTP_PROXY "";
            include fastcgi.conf;
            include fastcgi_params;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            fastcgi_index index.php;
            fastcgi_pass {{ php_host }}:{{ php_listenport }};
    }
}
